<!-- <!doctype html> -->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/sellerDashboard.css">
        <title>Dashboard</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <%- include("../partials/sellerNav.ejs") %>
    </head>
    <body>
        <div class="wrapper">
            <% if(locals.items && items.length > 0){ %>
                <% for(let i=0;i< items.length;i++){ %>
                    <div class="card">
                        <div class="in-card">
                            <img src="/uploads/<%= images[i].imgPath %>" alt={title} class="img"></img>
                            <h3><%= items[i].product_name %></h3>
                            <% if(items[i].discount > 0){ %>
                                <h3>
                                M.R.P : ₹ 
                                    <s>
                                        <span style='color:black'><%= items[i].price %><span>
                                    </s>
                                </h3>
                                <h3 style='color:red'>
                                    ₹ <%= (items[i].price - items[i].discount*(items[i].price)/100).toFixed(2) %>
                                    <span style="color: #07db00;">(<%=items[i].discount%>% off)</span>
                                </h3>
                            <% }else{ %>
                                <h3>₹ <%= items[i].price %></h3>
                            <% } %>
                            <h3>quantity left- <%= items[i].num_of_items%></h3>
                        </div>
                        <div class="for-btn">
                            <button class="cart-btn"> <a href="seller/edit/<%=items[i].id%>"> EDIT</a> </button>
                        </div>
                    </div>
                <% } %>
            <% }else{ %>
                <h2>Your Store Is Empty Click On Add Item to Add an Item.</h2>
            <% } %>
        </div> 
        <%- include('../partials/footer') %>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    </body>
</html>
