<!-- <!doctype html> -->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/sellerDashboard.css">
        <title>Dashboard</title>
        <%- include("../partials/sellerNav.ejs") %>
    </head>
    <body>
        <div class="wrapper">
            <% if(locals.items && items.length > 0){ %>
                <% for(let i=0;i< items.length;i++){ %>
                    <div class="card">
                        <div class="in-card">
                            <img src="/uploads/<%= images[i].imgPath %>" alt={title} class="img"></img>
                            <h3><%= items[i].product_name %></h3>
                            <h3><%= items[i].price%></h3>
                            <h3>quantity left- <%= items[i].num_of_items%></h3>
                        </div>
                        <div class="for-btn">
                            <button class="cart-btn"> <a href="seller/edit/<%=items[i].id%>"> EDIT</a> </button>
                        </div>
                    </div>
                <% } %>
            <% }else{ %>
                <h2>Your Store Is Empty Click On Add Item to Add an Item.</h2>
            <% } %>
        </div> 
    </body>
</html>
