<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link rel="stylesheet" href="/css/editItem.css">
<title>Add Items</title>
    
<body>
    <%- include("../partials/sellerNav.ejs") %>
    <form id="form">
        <div class="add-Item">
            <div class="uploadImage">
                <div class="slide-container">
                    <% attachments.forEach((img)=>{ %>
                        <div class="slide fade">
                            <abbr class="del" onclick="removeImg('<%=img%>',this)" title="Remove This Image">X</abbr>
                            <img src="/uploads/<%=img%>" alt="product image">
                        </div>
                    <% }) %>
                </div>
                <div class="dots-container">
                    <% attachments.forEach((img)=>{ %>
                        <span class="dot"></span>
                    <% }) %>
                </div>
                <label for="files" class="upload-btn">Upload Images of Product</label>
                <p class="err-msg">Images Are Required</p>
                <input id="files" name="photos" accept="image/*" style="display:none;" type="file" multiple>
            </div>
            <div class="product-info">
                <div class="input-box">
                    <input type="text" value="<%=item.product_name%>" name="productName" id="productName" required>
                    <label for="productName">Product Name</label>
                </div>
                <div class="input-box">
                    <input type="text" value="<%=item.brand_name%>"name="brandName" id="brandName" required>
                    <label for="brandName">Brand Name</label>
                </div>
                <div class="input-box">
                    <input type="number" value="<%=item.price%>" min="1" name="price" id="price" required>
                    <label for="price">Price (Rs.)</label>
                </div>
                <div class="input-box">
                    <input type="number" value="<%=item.discount%>" min="0" name="discount" id="discount" required>
                    <label for="discount">Discount (%)</label>
                </div>
                <div class="input-box">
                    <input type="number" value="<%=item.num_of_items%>" min="1" name="numberOfItems" id="numberOfItems" required >
                    <label for="numberOfItems">Number of Items</label>
                </div>
                <div class="input-box">
                    <input type="text" value="<%=item.product_color%>" name="productColour" id="productColour" required>
                    <label for="productColour">Product Colour</label>
                </div>
                <div class="inp-box">
                    <label for="cars">Category</label>
                    <% let options = ["grocery","clothing","footwear","stationary","electronics","novels","luggage","furniture","cosmetics","medicine","games","kitchen"] %>
                    <select name="category" id="category">
                        <% for(let i=0;i < options.length;i++){ %>
                           <% let selected = ( options[i] == item.category ) ? "selected" : "" %>
                           <option value="<%= options [ i ] %>" <%=selected%>><%=options[i]%></option>
                        <% } %>
                    </select>
                </div>
                <div class="input-box">
                    <textarea name="description" id="description" rows="1" required><%=item.prod_description%></textarea>
                    <label for="description">Product Description</label>
                </div>
            </div>
        </div>
        <div class="final-btn">
            <button onclick="deleteItem('<%=item.id%>')" class="remove-item-btn">Delete Item</button>
            <button class="add-item-btn" onclick="updateItem('<%=item.id%>')">Update Item</button>
        </div>
    </form>
       
        <footer class="bg-dark text-center text-white">
       
            <div class="container p-4">
    
                <section class="mb-4" style="padding-top: 2rem; padding-bottom: 2rem;">
                    <h2>
                        E-Commerce
                    </h2>
                    
                </section>
                
                <section>
                    <div class="row">
                    <div class="col">
                        <img src="/asset/truck-1.jpg" class="img-fluid" alt="ResponsiveImage" height="75" width="75" style="border-radius: 50%;">
                        <h5 style="padding-top: 1rem;">Fast and Free Delivery *</h5>
                    </div>
                    <div class="col">
                        <img src="/asset/easy-returns.png" class="img-fluid" alt="ResponsiveImage" height="75" width="75" style="border-radius: 50%;">
                        <h5 style="padding-top: 1rem;">Easy Returns within 15 days</h5>
                    </div>
                    <div class="col">
                        <img src="/asset/customercare.png" class="img-fluid" alt="ResponsiveImage" height="75" width="75" style="border-radius: 50%;">
                        <h5 style="padding-top: 1rem;">24 x 7 Customer Support</h5>
                    </div>
                    </div>
                </section>
    
                <div class="row">
                    <div class="col">
                        <a href="#" class="btn btn-sm btn-outline-light text-center" style="margin: 2rem;">About Us</a>
                    </div>
                    <div class="col">
                        <a href="#" class="btn btn-sm btn-outline-success" style="margin: 2rem;">Support Us</a>
                    </div>
                    <div class="col">
                        <a href="mailto:doubtbin@gmail.com" class="btn btn-sm btn-outline-primary" style="margin: 2rem;">Contact Us</a>
                    </div>
                </div>
    
                <p style="color: grey; font-size: 0.75rem;">*Delivery is free for orders above ₹499/-</p>
    
            </div>
    
        
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2021 Copyright:
            <a class="text-white" href="https://github.com/s2ke4">S2KE4</a>
            </div>
        </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="/js/editItem.js"></script>
</body>