<link rel="stylesheet" href="/css/buyerDashboard.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../public/css/footer.css">

<body>
    <%-include("partials/customerNav") %>
    <%for(let i=0;i < topItems.length;i++) { %>
        
        <%if(i==0) { %>
            <h2 class="category-heading"><%= topItems[i].category%></h2>
            <hr class="solid">
        <% } %>
        <% if(i!=0 && topItems[i].category!=topItems[i-1].category) { %>
            <h2 class="category-heading"><%= topItems[i].category %></h2>
            <hr class="solid">
        <% } %>
        <div class="wrapper">
            
                <div class="card">
                    <a href="buyer/productinfo/<%=topItems[i].id%>">
                        <div class="in-card">
                            <img src="/uploads/<%= images[i].imgPath %>" alt={title} class="img"></img>
                            <h5 class="product-name"><%= topItems[i].product_name.substring(0, 20) %></h5>
                            <% if(topItems[i].discount > 0){ %>
                                <h5 style='color:black'>
                                    ₹ <%= (topItems[i].price - topItems[i].discount*(topItems[i].price)/100).toFixed(0) %>
                                    <s><span style='color:grey; font-size: 15px'><%= topItems[i].price %><span></s>
                                    <span style="color: #07db00; font-size: 17px;">(<%=topItems[i].discount%>% off)</span>
                                </h5>
                            <% }else{ %>
                                <h4 >₹ <%= topItems[i].price %></h4>
                            <% } %>
                        </div>
                    </a>
                    <% let disable = user?"":"disabled" %>
                    <button class="cart-btn btn btn-primary" onclick="addToCart(this,<%=topItems[i].id%>,<%=user?user.id:-1%>)" <%=disable%> >
                        <span class="add-to-cart">Add To Cart </span><span class="added">Item Added</span><i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i>
                    </button>
                </div>
            <% if(i+1 < topItems.length && topItems[i+1].category!=topItems[i].category) { %>
        </div>
            <% continue; }%>
        <% let c;%>
            <% for(let j=i+1;j < topItems.length && topItems[j].category === topItems[j-1].category;j++){ %>
                
                <div class="card">
                    <a href="buyer/productinfo/<%=topItems[j].id%>">
                        <div class="in-card">
                            <img src="/uploads/<%= images[j].imgPath %>" alt={title} class="img"></img>
                            <h5 class="product-name"><%= topItems[j].product_name.substring(0, 20) %></h5>
                            <% if(topItems[j].discount > 0){ %>
                                <h5 style='color:black'>
                                    ₹ <%= (topItems[j].price - topItems[j].discount*(topItems[j].price)/100).toFixed(0) %>
                                    <s><span style='color:gray; font-size: 15px'><%= topItems[j].price %><span></s>
                                    <span style="color: #07db00;  font-size: 17px;">(<%=topItems[j].discount%>% off)</span>
                                </h5>vvvvv
                            <% }else{ %>
                                <h4>₹ <%= topItems[j].price %></h4>
                            <% } %>
                        </div>
                    </a>
                    <% let disable = user?"":"disabled" %>
                    <button class="cart-btn btn btn-primary" onclick="addToCart(this,<%=topItems[j].id%>,<%=user?user.id:-1%>)" <%=disable%> >
                        <span class="add-to-cart">Add To Cart </span><span class="added">Item Added</span><i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i>
                    </button>
                </div>
        
                <% c = j %>
            <% } %>
        <% i = c %> 
    </div>
    <% } %>
    
<script src="/js/addCart.js"></script>
<%- include('partials/footer') %>
<script src="https://kit.fontawesome.com/5772372b8f.js" crossorigin="anonymous"></script>
</body>
