<link rel="stylesheet" href="/css/buyerDashboard.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&display=swap" rel="stylesheet">
<body>
    <%-include("partials/customerNav") %>
    <%for(let i=0;i < topItems.length;i++) { %>
        
        <%if(i==0) { %>
            <h2 class="category-heading"><%= topItems[i].category%></h2>
            <hr class="solid">
        <% } %>
        <% if(i!=0 && topItems[i].category!=topItems[i-1].category) { %>
            <h2 class="category-heading"><%= topItems[i].category %></h2>
            <hr class="solid">
        <% } %>
        <div class="wrapper">
            
                <div class="card">
                    <a href="buyer/productinfo/<%=topItems[i].id%>">
                        <div class="in-card">
                            <img src="/uploads/<%= images[i].imgPath %>" alt={title} class="img"></img>
                            <h4 class="product-name"><%= topItems[i].product_name %></h4>
                            <% if(topItems[i].discount > 0){ %>
                                <h4>
                                M.R.P : ₹ 
                                    <s>
                                        <span style='color:black'><%= topItems[i].price %><span>
                                    </s>
                                </h4>
                                <h4 style='color:red'>
                                    ₹ <%= topItems[i].price - topItems[i].discount*(topItems[i].price)/100 %>
                                    <span style="color: #07db00;">(<%=topItems[i].discount%>% off)</span>
                                </h4>
                            <% }else{ %>
                                <h4>₹ <%= topItems[i].price %></h4>
                            <% } %>
                        </div>
                    </a>
                    <button class="btn btn-primary">Add to Cart</button>
                </div>
            <% if(i+1 < topItems.length && topItems[i+1].category!=topItems[i].category) { %>
        </div>
            <% continue; }%>
        <% let c;%>
            <% for(let j=i+1;j < topItems.length && topItems[j].category === topItems[j-1].category;j++){ %>
                
                <div class="card">
                    <a href="buyer/productinfo/<%=topItems[j].id%>">
                        <div class="in-card">
                            <img src="/uploads/<%= images[j].imgPath %>" alt={title} class="img"></img>
                            <h4 class="product-name"><%= topItems[j].product_name %></h4>
                            <% if(topItems[j].discount > 0){ %>
                                <h4>
                                M.R.P : ₹ 
                                    <s>
                                        <span style='color:black'><%= topItems[j].price %><span>
                                    </s>
                                </h4>
                                <h4 style='color:red'>
                                    ₹ <%= topItems[j].price - topItems[j].discount*(topItems[j].price)/100 %>
                                    <span style="color: #07db00;">(<%=topItems[j].discount%>% off)</span>
                                </h4>
                            <% }else{ %>
                                <h4>₹ <%= topItems[j].price %></h4>
                            <% } %>
                        </div>
                    </a>
                    <button class="btn btn-primary">Add to Cart</button>
                </div>
        
                <% c = j %>
            <% } %>
        <% i = c %> 
    </div>
    <% } %>
</body>