<link rel="stylesheet" href="/css/buyerDashboard.css">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&display=swap" rel="stylesheet">

<body>
    <%- include('partials/customerNav.ejs') %>

    <% if(search=='') { %>
        <h2 class="search-heading">All products in <%= filter%> ... </h2>
    <% } else { %>   
        <h2 class="search-heading">Search results for <%= search %> in <%= filter%> ... </h2>
    <% } %>

    <div class="wrapper">
        <%for(let i=0;i < results.length;i++) { %>

            <div class="card">
                <a href="buyer/productinfo/<%=results[i].id%>">
                    <div class="in-card">
                        <img src="/uploads/<%= images[i].imgPath %>" alt={title} class="img"></img>
                        <h5 class="product-name"><%= results[i].product_name %></h5>
                        <% if(results[i].discount > 0){ %>
                            <h5 style='color:black'>
                                ₹ <%= results[i].price - results[i].discount*(results[i].price)/100 %>
                                <s><span style='color:grey; font-size: 15px'><%= results[i].price %><span></s>
                                <span style="color: #07db00; font-size: 17px;">(<%=results[i].discount%>% off)</span>
                            </h5>
                        <% }else{ %>
                            <h5>₹ <%= results[i].price %></h5>
                        <% } %>
                    </div>
                </a>
                <% let disable = user?"":"disabled" %>
                <button class="cart-btn btn btn-primary" onclick="addToCart(this,<%=results[i].id%>,<%=user?user.id:-1%>)" <%=disable%> >
                    <span class="add-to-cart">Add To Cart </span><span class="added">Item Added</span><i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i>
                </button>
            </div>

        <% } %>
    </div>
    <script src="/js/addCart.js"></script>
    <script src="https://kit.fontawesome.com/5772372b8f.js" crossorigin="anonymous"></script>
    <%- include('partials/footer') %>

</body>