<%- include("../partials/customerNav") %>
<link rel="stylesheet" href="/css/cart.css">
<body>
    <div class="heading">
        <h2>Your Cart</h2>
        <img src="/asset/bag.png" alt="">
    </div>
    
    <p class="empty-cart"  style="display: <%= items.length!=0?'none':'block'%>;">
        <i class="fas fa-shopping-cart fa-2x empty-cart"> Your Cart is Empty!</i><br>
        <button class="back"><a href="/">Back To Shopping</a></button>
    </p>
    <div class="user-cart" style="display: <%= items.length==0?'none':'block'%>;">
        <table>
            <tbody>
                <tr>
                    <th></th>
                    <th>Item</th>
                    <th>Price Per Item</th>
                    <th>Quantity</th>
                    <th>Total Price(INR)</th>
                    <th>Move To WishList</th>
                    <th></th>
                </tr>
                <% for(let i=0;i < items.length;i++){ %>
                    <tr>
                        <% let total =  items[i].price*items[i].quantity%>
                        <td><img src="<%=items[i].img%>" width="50px" height="50px" alt=""></td>
                        <td><a href="/buyer/productInfo/<%=items[i].id%>"><%=items[i].name%></a></td>
                        <td class="price-per-item"><%=items[i].price%></td>
                        <td>
                            <span class="quan">
                                <p class="quantity">
                                    <span onclick="increment(this,<%=items[i].id%>,<%= user.id%>)" class="increment">+</span> 
                                    <input onchange="handleChange(this,<%=items[i].id%>,<%= user.id%>)" oninput="handleInput(this,<%=items[i].id%>,<%= user.id%>)" onblur="handleBlur(this,<%=items[i].id%>,<%= user.id%>)" class="number" min="1" type="number" value="<%=items[i].quantity%>"> 
                                    <span class="decrement" onclick="decrement(this,<%=items[i].id%>,<%= user.id%>)">-</span>
                                </p>
                            </span>
                        </td>
                        <td class="total-per-item"><%=total%></td>
                        <td><button class="move-to-wishlist" onclick="handleMoveToWishlist(this,<%=items[i].id%>,<%= user.id%>)">Move To WishList</button></td>
                        <td><i class="fas del fa-trash-alt" onclick="handleDelete(this,<%=items[i].id%>,<%= user.id%>)"></i></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <div class="total">
            <p>Total Amount</p>
            <p class="total-amount">2000000</p>
        </div>
        <div class="major-btn">
            <button class="back"><a href="/">Back To Shopping</a></button>
            <button class="proceed"><a href="./proceedOrder">Proceed With Your Order</a></button>
        </div>
    </div>
</body>
<%- include("../partials/footer.ejs") %>
<script src="https://kit.fontawesome.com/a81368914c.js"></script> 
<script src="/js/cart.js"></script>