<%- include("../partials/customerNav") %>
<link rel="stylesheet" href="/css/proceedOrder.css">
<body>
    <div>
        <div class="option-btn">
            <p class="current">Select Payment Method</p>
            <pre> -> </pre>
            <p class="after-current">Place Order</p>
        </div>
        <div class="paymentMethod">
            <div class="main-div">
                <h3>Payment Method</h3>
                <div>
                    <input class="onSelect" type="radio" id="card" name="paymentMethod" value="card">
                    <label for="card">Debit / Credit Card</label><br>
                    <div class="detail">
                        <input class="value" id="cardName" type="text" placeholder="Cardholder Name">
                        <input class="value" id="cardNumber" type="text" placeholder="Card Number">
                        <input class="value" id="cardMonth" type="number" max="12" min="1" placeholder="MM">
                        <input class="value" id="cardYear" type="number" max="2100" min="2021" placeholder="YYYY">
                        <input class="value" id="cvv" type="number" placeholder="CVV" style="margin-top: 0.7rem;">
                        <p class="cardDetailNotProvided">please fill all the details</p>
                    </div>
                </div>
                <div>
                    <input class="onSelect" type="radio" id="upi" name="paymentMethod" value="upi">
                    <label for="upi">Upi Payment</label><br>
                    <div class="detail">
                        <input class="value" id="upiId" type="text" placeholder="Upi Id">
                        <p class="upiIdNotProvided">Please provide all the details</p>
                    </div>
                </div>
                <div>
                    <input class="onSelect" type="radio" id="cod" name="paymentMethod" value="cod">
                    <label for="cod">Cash On Delivery</label><br> 
                </div> 
                <p class="not-selected">Please Select A Payment Method</p>
            </div>
            <div>
                <div class="button-div">
                    <a href="/buyer/cart"><button class="back-to-cart">Back to Cart</button></a>
                </div>
                <div>
                    <button class="next">Next</button>
                </div>
            </div>
        </div>
        <div class=" address">
            <div class="addressAndTotalAmount">
                <div class="main-div ShippingAddress">
                    <h3>Shipping Address</h3>
                    <form action="/buyer/proceedOrder" method="POST">
                    <div class="input-box">
                        <textarea id="shipping-address-textarea" name="address" required></textarea>
                        <label for="address">Address</label>
                    </div>
                    <div class="input-box">
                        <input type="text" name="city" id="city" required>
                        <label for="city">City</label>
                    </div>
                    <div class="input-box">
                        <input type="text" name="Country" id="Country" required>
                        <label for="Country">Country</label>
                    </div>
                    <div class="input-box">
                        <input type="number" min="1" name="pincode" id="pincode" required>
                        <label for="pincode">pincode</label>
                    </div>
                    <p class="addressError">Please fill all the details</p>
                </div>
                <div class="main-div final-amount">
                    <h3>Order Summary</h3>
                    <p>Order Amount : <%= orderAmount%></p>
                    <% let ship = (orderAmount > 499) ? (0):(50);%>
                    <p>Shipping Charge :  <%= ship %> </p>
                    <% let totalAmount = orderAmount + ship; %>
                    <h4>Total Amount : <%= totalAmount %></h4>
                    
                    
                        <button class="order-now">Order Now</button>
                    </form>
                    <button class="back">Back</button>
                    <form action="/">
                        <button class="cancel">Cancel</button>
                    </form>
                </div>
            </div>
            <div class="order-summary">
                <h3>Order Detail</h3>
                <table>
                    <tr>
                      <th>Item Name</th>
                      <th>Price per item</th>
                      <th>Quantity</th>
                      <th>Total per Item</th>
                    </tr>
                    <% for(let i=0;i < items.length;i++){ %>
                        <tr>
                            <% let total =  items[i].price*items[i].quantity%>
                            <td><a href="/buyer/productInfo/<%=items[i].id%>" style="text-decoration: none;"><%=items[i].name%></a></td>
                            <td class="price-per-item"><%=items[i].price%></td>
                            <td class="quantity"><%=items[i].quantity%></td>
                            <td class="total-per-item"><%=total%></td>
                        </tr>
                    <% } %>
                </table>
            </div>
        </div>
    </div>
<script src="/js/proceedOrder.js"></script>
<!-- <script src="/js/cart.js"></script> -->
</body>
<%- include("../partials/footer") %>