     <link rel="stylesheet" href="/css/productinfo.css">


<%-include("../partials/customerNav") %>
<body>
    <div class="cont">
        <div className="image-area">
            <div class="uploadImage">
                <div class="slide-cont">
                    <% attachments.forEach((img)=>{ %>
                        <div class="slide fade">
                            <img src="/uploads/<%=img%>" alt="product image">
                        </div>
                    <% }) %>
                </div>
                <div class="dots-cont">
                    <% attachments.forEach((img)=>{ %>
                        <span class="dot"></span>
                    <% }) %>
                </div>
            </div>
        </div>
        <div class="Infocont">
            <h3><%=item.product_name%></h3>
            <h5 style="font-size: 16px;"><%=item.brand_name%></h5>
            <div class="amount">
                <div class="price">
                    <h4>
                        Price: ₹ <%= (item.price - item.discount*(item.price)/100).toFixed(0) %>  &nbsp 
                        <s> <span style='color:grey; font-size: 18px'><%=   item.price %><span></s>
                    </h4>
                </div>
                
                <h5 style="color: #07db00;"><%=item.discount%> % off</h5>
            </div>
            <div class="button-area">
                <% let disable = (user && item.num_of_items > 0)?"":"disabled" %>
                <div class="btn1" >
                    <% let addbtn = inWishList?"none":"block" %>
                    <% let rembtn = !inWishList?"none":"block" %>
                    <button style="display: <%=addbtn%>;" class="toWishlist" onclick="addToWishlist(this,<%=item.id%>,<%=user?user.id:-1%>)" <%=disable%>>
                        Add To Wishlist 
                    </button>
                    <button style="display: <%=rembtn%>;" onclick="removeFromWishlist(this,<%=item.id%>,<%=user?user.id:-1%>)" class="removefromWishlist" <%=disable%>>
                        Remove From Wishlist
                    </button>
                </div>
                <div class="btn2" >
                    <button class="cart-btn toCart" onclick="addToCart(this,<%=item.id%>,<%=user?user.id:-1%>)" <%=disable%> >
                        <span class="add-to-cart">Add To Cart </span><span class="added">Item Added</span><i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i>
                    </button>
                </div>
            </div>
            <%if(item.num_of_items == 0){ %>
                <p style="color: red; font-size: 21px;">Out Of Stock</p>
            <% } %>
            <h5 style="font-size: 16px;"> Color : <%=item.product_color%></h5>
            <p><strong>Description: </strong><%=item.prod_description%></p>
        </div>
    </div>
    
    <% if(locals.similarItem && similarItem.length > 0){ %>
    <h3 class="similarProudctHeading">Similar Products</h3>
    <div class="wrapper">
            <% for(let i=0;i< similarItem.length;i++){ %>
                <div class="card">
                    <a href="/buyer/productinfo/<%=similarItem[i].id%>">
                        <div class="in-card">
                            <img src="/uploads/<%= similarImg[i] %>" alt={title} class="img"></img>
                            <h5 class="prod-name"><%= similarItem[i].product_name.substring(0, 20) %></h5>
                            <% if(similarItem[i].discount > 0){ %>
                                <h5 style='color:black'>
                                    ₹ <%= (similarItem[i].price - similarItem[i].discount*(similarItem[i].price)/100).toFixed(2) %>
                                    <s><span style='color:grey; font-size: 15px' ><%= similarItem[i].price %><span></s>
                                    <span style="color: #07db00; font-size: 17px;">(<%=similarItem[i].discount%>% off)</span>
                                </h5>
                            <% }else{ %>
                                <h5>₹ <%= similarItem[i].price %></h3>
                            <% } %>
                        </div>
                    </a>
                    <% let disable = user?"":"disabled" %>
                    <div class="btn2" >
                        <button class="cart-btn toCart similarItemCartBtn" onclick="addToCart(this,<%=similarItem[i].id%>,<%=user?user.id:-1%>)" <%=disable%> >
                            <span class="add-to-cart">Add To Cart </span><span class="added">Item Added</span><i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i>
                        </button>
                    </div>
                </div>
            <% } %>
        <% } %>
    </div> 
    <!-- Footer -->
    <%- include("../partials/footer.ejs") %>
    <!-- Footer -->
    <script src="/js/productinfo.js"></script>
    <script src="https://kit.fontawesome.com/a81368914c.js"></script> 
</body>