<link rel="stylesheet" href="/css/yourOrders.css">
<title>Orders</title>

<body>
    <%- include('../partials/customerNav') %>
    <h2 class="heading">Your Orders</h2>

    <div class="search">
      <form class="d-flex sbar">
        <input class="search-bar-box form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary btn-outline-primary search-btn" type="submit">Search</button>
      </form>
    </div>

    <table>
        <tr>
          <th class="orderNum">Order No.</th>  
          <th class="orderItems">Ordered Items</th>
          <th class="orderDate">Date</th>
          <th class="dispatch">Dispatched</th>
          <th class="price">Total Price</th>
          <th class="details">View Details</th>
        </tr>
        <% for(let i = 0 ; i < orders.length ; i++) {
           let count=0;;
          %>
          <tr>
            <td><%= orders[i].order_num %></td>
            <td>
              <%for(let j = 0;j < items.length; j++) { %>
                <div class="item">
                  <%if(items[j].order_num==orders[i].order_num) { %>
                    <%= items[j].item_name %> <br>
                    <% count++;
                      } else {
                      count=1;
                    }%>
                </div>
                <% if(count > 2) 
                  { %>
                    <div class="item"><a href="yourOrders/yourOrderDetails">View All</a></div>
                  <% break; } %>
                <% } %>
            </td>
            <td><%= orders[i].date%></td>
            <td>
              <% if(orders[i].dispatch===true) {%>
                <i class="fas fa-check-circle fa-2x" style="color: green;"></i>
              <% } else { %>
                <i class="far fa-clock fa-2x" style="color: red;"></i>
              <% } %>
            </td>
            <td>
              <% if(orders[i].order_amt > 499) { %>
                ₹ <%= orders[i].order_amt%>
              <% } else {
                  let totalAmt = orders[i].order_amt + 50;
                %>
                ₹ <%= totalAmt%>
              <% } %>
            </td>
            <td><a href="yourOrders/yourOrderDetails" class="btn btn-outline-primary btn-sm">Order Details</a></td>
          </tr>
        <% } %>
      </table>
    <!-- Footer -->
    <%- include("../partials/footer.ejs") %>
    <!-- Footer -->
    <script src="https://kit.fontawesome.com/5772372b8f.js" crossorigin="anonymous"></script>
</body>