<title>Order Details</title>
<link rel="stylesheet" href="/css/yourOrders.css">

<%- include("../partials/customerNav.ejs") %>

<body>

    <h6 class="back-div"><a href="/buyer/yourOrders" class="back-link">< Back to Your Orders</a></h6>
    <h5 class="heading">Order Number : <%= order.order_num %></h5>
    <h5 class="heading">Order Date : <%= order.date %></h5>
    <h5 class="heading">Shipped to :  <%= order.address %></h5>
    <h5 class="heading">Tracking Status : 
      <% if(order.dispatch==true) {%>
        <i class="fas fa-check-circle fa-2x" style="color: green;"></i>
      <% } else { %>
        <i class="far fa-clock fa-2x" style=" color: red;"></i> 
      <% } %>
    </h5>

    <table>
        <tr>
            <th>Item Name</th>
            <th>Item Quantity</th>
            <th>Price per Item</th>
            <th>Total Price</th>
        </tr>
        <% for(let i=0;i< items.length;i++){ %>
            <tr>
              <td><%= items[i].item_name %></td>
              <td><%= items[i].quantity %></td>
              <td><%= items[i].price %></td>
              <td><%= items[i].totalPrice %></td>
            </tr>
        <% } %>
      </table>
      <h4 class="heading">Total Price paid : <%= order.order_amt %></h4>
      <h5 class="heading">Payment Mode : UPI ✔️</h5>
    
    <!-- Footer -->
    <%- include("../partials/footer.ejs") %>
    <!-- Footer -->

    <script src="https://kit.fontawesome.com/5772372b8f.js" crossorigin="anonymous"></script>
</body>